.Formulario{
    background-color: white;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.Formulario h2{
    color: black;
    
}
.Formulario p{
    color: black;
}
.Formulario label{
    color: black;
}